@import url(//fonts.googleapis.com/earlyaccess/alefhebrew.css);

* { 
  font-family: "Aharoni" !important;
}

#content {
	font-size: 1.2em;
}

p:hover {
	outline: 3px double #f00;
}

.make-red {
	color: darkgreen !important;
}